body {
    background-color: white;
}
.memo1 {
    color: black;
    background-color: rgb(243, 197, 197);
    position: relative;
}
.memo2 {
    color:black;
    background-color: rgb(197, 243, 209);
    position: relative;
}