{% extends "base.html" %}
{% block bodycontent %}
    <style>
        body {
            background-color: rgb(255, 255, 255);
        }
        /* メモ白色 */
        .color0 {
            top:0;
            left:0;
            color: black;
            background-color: rgb(255, 255, 255);
            position: absolute;
        }
        /* メモ赤色 */
        .color1 {
            top:0;
            left:0;
            color: black;
            background-color: rgb(243, 197, 197);
            position: absolute;
        }
        /* メモ緑色 */
        .color2 {
            top:0;
            left:0;
            color:black;
            background-color: rgb(197, 243, 209);
            position: absolute;
        }
        /* メモ紫色 */
        .color3 {
            top:0;
            left:0;
            color:black;
            background-color: rgb(241, 197, 243);
            position: absolute;
        }
    </style>
    <a href="/">戻る</a>
    <!-- 既存メモ表示 -->
    <div id="memo">
        {% for Memo in Boardinfo %}
            <div>
                <textarea class="{{ Memo.memocolor }}" name="" id="{{ Memo.id }}" cols="25" rows="8" 
                style="top: {{ Memo.y }}px; left: {{ Memo.x }}px;" readonly>{{ Memo.text }}</textarea>
            </div>
        {% endfor %}
    </div>
    <!-- メモ作成 -->
    <div id="create">
        <button type="button" data-bs-toggle="modal" data-bs-target="#createmodal">新規メモ</button>

        <!-- モーダル画面 -->
        <div class="modal fade" id="createmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" area-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">新規メモ作成</h5>
                        <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <label for="memo">メモ</label><br>
                            <textarea v-model="text" name=""  id="text" cols="25" rows="8" value=""></textarea>
                        </div>
                        <div>
                            <label for="color">色</label>
                            <select v-model="color" name="color" size="1">
                                <option value="color1">白</option>
                                <option value="color1">赤</option>
                                <option value="color2">緑</option>
                                <option value="color3">紫</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">戻る</button>
                        <button @click="create" type="button" class="btn btn-primary" data-bs-dismiss="modal">作成</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 新規メモ位置決め -->
        <form name="newmemo" method="post">
            <input type="hidden" name="type" value="create">
            <div v-show="createdmemo" @mousemove="move" @click="setmemo">
                <textarea :class="color" name="newmemo" id="" cols="25" rows="8" 
                    :style="{ transform: `translate(${x}px, ${y}px)` }" readonly>[[ text ]]</textarea>
            </div> 
            <input type="hidden" name="x" :value="x">
            <input type="hidden" name="y" :value="y">
            <input type="hidden" name="color" :value="color">
        </form> 
    </div>
    <!-- メモ削除 -->
    <div id="delete">
        <button type="button" data-bs-toggle="modal" data-bs-target="#deletemodal">メモ削除</button>
        <!-- モーダル画面 -->
        <div class="modal fade" id="deletemodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" area-hidden="true">
            <div class="modal-dialog">
                 <div class="modal-content">
                     <div class="modal-header">
                       <h5 class="modal-title">メモ削除</h5>
                       <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
                    </div>
                   <div class="modal-body">
                        <form name="deletememo" method="post">
                            <input type="hidden" name="type" value="delete">
                            <select name="memo_id" id="memo_id" @change="selectmemo" v-model="memoid">
                                {% for memo in Boardinfo2 %}
                                    <option value="{{ memo.id }}">{{ memo.title }}...</option>
                                {% endfor %}
                            </select>
                        </form>
                        {% for memo in Boardinfo2 %}
                            <input type="hidden" id="d{{ memo.id }}" value="{{ memo.text }}">
                        {% endfor %}
                        <textarea name="" id="" cols="25" rows="8" readonly>[[ memotext ]]</textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">戻る</button>
                        <button @click="deletememo" type="button" class="btn btn-primary" data-bs-dismiss="modal">削除</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

        const { createApp } = Vue

        // id="create"
        createApp ({
            data() {
                return {
                    createdmemo : false,
                    text : '',
                    color : 'color0',
                    x : 0,
                    y : 0
                }
            },
            methods: {
                create(e){
                    this.createdmemo = true
                },
                move(e){
                    this.x = e.clientX - 100
                    this.y = e.clientY - 100
                },
                setmemo(e){
                    document.newmemo.submit()
                },

            },
            delimiters: ['[[',']]']
        }).mount('#create')

        // id="delete"
        createApp ({
            data() {
                return {
                    visible : false,
                    memoid: 0,
                    memotext : ""
                }
            },
            methods: {
                deletememo(e){
                    document.deletememo.submit()
                },
                selectmemo(e){
                    const memotexts = document.getElementById("d" + this.memoid).value;
                    console.log(memotexts)
                    this.memotext = memotexts
                }
            },
            delimiters: ['[[',']]']
        }).mount('#delete')
    </script>
{% endblock %}